*{
	margin: 0;
	padding: 0;
	background-color: black;
	
}
div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100px;
	width: 100px;
	box-shadow: 20px 15px 0 5px white ;
	border-radius: 50%;
    animation-name:example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%{box-shadow: 20px 15px 0 5px white;}
    50%{box-shadow: 110px 15px 0 5px white;}
    0%{box-shadow: 20px 15px 0 5px white;}
    }